{% extends "base.html" %}


{% block content %}


<h1>
    新增物品
</h1>


<form method="post" enctype="multipart/form-data">

    {% csrf_token %}


    <label>
        物品名称:
    </label>

    <input list="item_list" type="text" name="name" value="{{name}}" required>


    <datalist id="item_list">

        {% for item_name in item_names %}

        <option value="{{item_name}}">

            {% endfor %}

    </datalist>


    <br><br>


    <label>
        类别:
    </label>

    <input list="category_list" type="text" name="category" value="{{category}}"
           placeholder="可选">


    <datalist id="category_list">


        {% for c in categories %}

        <option value="{{c}}">

            {% endfor %}


    </datalist>



    {% if warning %}


    <input type="hidden" name="item_id" value="{{same_item.id}}">


    <button type="submit" name="add_existing" value="1">

        {% if same_item.is_serialized %}
        将设备编码加入已有物品
        {% else %}
        增加已有库存
        {% endif %}

    </button>


    {% endif %}



    <br><br>



   


    <label>
        库存类型:
    </label>


    <select name="is_serialized" id="inventory_type">

        <option value="0" {% if not is_serialized %}selected{% endif %}>
            普通库存
        </option>


        <option value="1" {% if is_serialized %}selected{% endif %}>
            单件设备管理
        </option>

    </select>


    <br><br>

    <label>
        数量:
    </label>

    <input type="number" name="quantity" value="{{quantity}}" min="1" required>


    <br><br>
    <div id="serial-container">

    </div>


    <label>
        位置:
    </label>

    <input type="text" name="location" value="{{location}}">

    <br><br>


    <label>
        位置照片:
    </label>

    <input type="file" name="location_image" accept="image/jpeg,image/png,image/webp">


    <br><br>




    <label>
        购买时间:
    </label>

    <input type="date" name="purchase_date" value="{{purchase_date}}">


    <br><br>


    <label>
        有效期(月):
    </label>


    <input type="number" name="valid_period" value="{{valid_period}}" min="1">


    <br><br>


    <label>
        失效时间:
    </label>


    <input type="date" name="expiry_date" value="{{expiry_date}}">


    <br><br>


    <hr>


    <h3>
        自定义属性
    </h3>


    <div id="attributes">


        {% if attribute_rows %}
            {% for key, value in attribute_rows %}
            <div>
                <input type="text" name="attribute_key" value="{{key}}"
                       placeholder="属性名，例如品牌">
                <input type="text" name="attribute_value" value="{{value}}"
                       placeholder="属性值，例如戴尔">
            </div>
            {% endfor %}
        {% else %}
            <div>
                <input type="text" name="attribute_key" placeholder="属性名，例如品牌">
                <input type="text" name="attribute_value" placeholder="属性值，例如戴尔">
            </div>
        {% endif %}


    </div>


    <br>


    <button type="button" onclick="addAttribute()">

        + 添加属性

    </button>


    <br><br>


    <button type="submit">

        保存

    </button>


</form>


{{ serial_numbers|json_script:"initial-serial-numbers" }}

<script>

    function addAttribute() {

        let div = document.createElement("div");

        div.innerHTML = `

    <br>

    <input 
    type="text"
    name="attribute_key"
    placeholder="属性名">

    <input
    type="text"
    name="attribute_value"
    placeholder="属性值">

    `;


        document
            .getElementById("attributes")
            .appendChild(div);

    }


    const initialSerialNumbers = JSON.parse(
        document.getElementById("initial-serial-numbers").textContent
    );

    const quantityInput =
        document.querySelector(
            'input[name="quantity"]'
        );


    const container =
        document.getElementById(
            "serial-container"
        );



    const typeSelect =
        document.getElementById(
            "inventory_type"
        );



    function generateSerialInputs() {

        const currentValues = Array.from(
            container.querySelectorAll('input[name="serial_numbers"]')
        ).map(input => input.value);

        const retainedValues = currentValues.length
            ? currentValues
            : initialSerialNumbers;

        container.innerHTML = "";


        if (typeSelect.value == "0") {
            return;
        }


        let quantity = parseInt(
            quantityInput.value
        );


        if (!quantity) {
            return;
        }


        for (let i = 1; i <= quantity; i++) {


            let div = document.createElement("div");


            div.innerHTML = `

        <label>
        设备编号 ${i}
        </label>

        <input
        type="text"
        name="serial_numbers"
        placeholder="手动输入设备编码"
        required>

        <br><br>

        `;


            container.appendChild(div);

            div.querySelector('input[name="serial_numbers"]').value =
                retainedValues[i - 1] || "";

        }

    }



    if (typeSelect) {

        typeSelect.addEventListener(
            "change",
            generateSerialInputs
        );

    }


    quantityInput.addEventListener(
        "input",
        generateSerialInputs
    );

    generateSerialInputs();



</script>


{% endblock %}
