{% extends "base.html" %}


{% block content %}


<h1>
      {{item.name}}
</h1>


<p>
      类别:
      {{item.category}}
</p>


<p>
      数量:
      {{item.quantity}}
</p>


<p>
      位置:
      {{item.location}}
</p>


<p>
      状态:
      {{item.status}}
</p>

<p>
      有效期状态:
      {{item.expiration_status}}
</p>

<p>
      创建人:
      {{item.created_by}}
</p>


<p>
      创建时间:
      {{item.created_time}}
</p>

<p>
      购买时间:
      {{item.purchase_date}}
</p>
<p>
      有效期:
      {{item.valid_period}} 个月
</p>
<p>
      失效时间:
      {{item.expiry_date}}
</p>


<h2>
      属性
</h2>


<table border="1">

      <tr>

            <th>
                  属性
            </th>

            <th>
                  值
            </th>

      </tr>


      {% for attr in item.attributes.all %}


      <tr>

            <td>
                  {{attr.key}}
            </td>


            <td>
                  {{attr.value}}
            </td>


      </tr>


      {% endfor %}


</table>


<br>

<a href="{% url 'stock_records' item.id %}">
      查看操作记录
</a>

<br>


{% if user.userprofile.role == "ADMIN" %}


<h2>
      操作
</h2>


<a href="{% url 'increase_stock' item.id %}">
      增加库存
</a>

&nbsp;&nbsp;


<a href="{% url 'decrease_stock' item.id %}">
      减少库存
</a>

&nbsp;&nbsp;


<a class="btn" href="{% url 'update_item' item.id %}">
      修改物品
</a>


&nbsp;&nbsp;


{% if item.status == "正常" %}

<form method="post" action="{% url 'disable_item' item.id %}" style="display:inline;">

      {% csrf_token %}

      <button type="submit" onclick="return confirm('确定停用该物品吗?')">
            停用物品
      </button>

</form>


{% else %}


<form method="post" action="{% url 'enable_item' item.id %}" style="display:inline;">

      {% csrf_token %}

      <button type="submit">
            恢复物品
      </button>

</form>


{% endif %}




{% endif %}

<h2>
      当前位置照片
</h2>



{% if item.current_location_image %}

<img src="{{item.current_location_image.url}}"
     style="max-width:600px; max-height:500px; object-fit:contain;">

{% else %}

暂无照片

{% endif %}




{% endblock %}