{% extends "base.html" %}


{% block content %}


<h1>
修改物品
</h1>


<form method="post">

{% csrf_token %}


名称:

<input
name="name"
value="{{item.name}}"
>


<br><br>


类别:

<input
name="category"
value="{{item.category}}"
>


<br><br>


位置:

<input
name="location"
value="{{item.location}}"
>


<br><br>

购买日期:

<input
type="date"
name="purchase_date"
value="{{ item.purchase_date|date:'Y-m-d' }}"
>


<br><br>


有效期(月):

<input
type="number"
name="valid_period"
value="{{ item.valid_period }}"
min="0"
required
>

<br><br>


失效日期:

<input
type="date"
name="expiry_date"
value="{{ item.expiry_date|date:'Y-m-d' }}"
>


<br><br>







<button type="submit">

保存

</button>


</form>


{% endblock %}